[defaults]
interpreter_python = auto_silent

callbacks_enabled = profile_tasks,timer,mail,profile_roles
cache_valid_time = 3600
forks=50
host_key_checking = False
strategy=free

[ssh_connection]
ssh_args = -o ForwardAgent=yes -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ControlPersist=60s
retries = 3
pipelining = true
control_path = /tmp/ansible-ssh-%%h-%%p-%%r